body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.store-header {
  text-align: center;
  margin-top: 50px;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.product {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}


.product {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.product-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-description {
  font-size: 14px;
  color: #555;
}

.view-product-btn {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
